---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>🚀 Speed Wins 🚀</h1>
</BaseLayout>

<style>
  td:first-child,
  th:first-child {
    border-left: none;
  }
  td:last-child,
  th:last-child {
    border-right: none;
  }
  tr:last-child {
    border-bottom: none;
  }
</style>
