<div class="prose prose-m mt-24 mb-4 mx-4 md:mx-auto lg:prose-xl">
  <p>
    Built by <a href="https://alasdairb.com">Alasdair Brown</a>. Source on
    <a href="https://github.com/sdairs/speedwins">GitHub</a>. Built with
    <a href="https://astro.build">Astro</a>, hosted on
    <a href="https://vercel.com/">Vercel.</a>
  </p>
</div>
