---
import "@fontsource-variable/inter";
---

<html
  lang="en"
  class="min-h-full bg-gradient-to-br from-slate-200 via-slate-200 to-slate-400 dark:bg-gradient-to-br dark:from-neutral-800 dark:via-neutral-800 dark:to-neutral-900"
>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    {
      import.meta.env.PROD && (
        <script
          src="https://beamanalytics.b-cdn.net/beam.min.js"
          data-token="5ef93360-2cba-4abc-841b-cfabe3abcff7"
          async
        />
      )
    }
    <title>SpeedWins</title>
  </head>
  <body>
    <main
      class="prose prose-m mx-3 text-justify md:prose-l md:mx-auto dark:prose-invert"
    >
      <slot />
    </main>
  </body>
</html>
